
/* Remove any specific height limitations */
#root {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Add specific styles for landscape mode */
@media (max-height: 500px) {
  #root {
    max-height: 100vh;
    overflow: hidden;
  }
}
